body {
  margin: 0;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  background: #fafbfb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

article {
  height: 90%;

  &:hover {
    box-shadow: 0px 11px 22px 12px #eee;
	background: #d9d9dd;
    border-radius: 5px;
  }
}